[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
emoji = "*"
googletrans = "==3.1.0a0"
youtube-dl = "*"
inquirer = "*"

[dev-packages]

[requires]
python_version = "3.9"
